/.idea/.gitignore
/node_modules/.package-lock.json
/.idea/codeStyles/codeStyleConfig.xml
/.idea/modules.xml
/.idea/prettier.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/codeStyles/Project.xml
/.idea/React-p.1.iml
/my-first-app/tailwind.config.js
/.idea/vcs.xml
